mixin vehicleListing(vehicle = {})
  a(href=(`/admin/edit/${vehicle.slug}`)).listing-results-entry
    if vehicle.photos.length === 0
      img(src="/images/vehicles/vehicle-photo-default.png", alt=vehicle.name).no-margin
    else 
      img(src=(`/images/vehicles/${vehicle._id}/${vehicle.photos[0]}-400.jpg`), alt=vehicle.name).no-margin
    .listing-results-entry-text-container
      .space-between
        h5= vehicle.name
        h6= vehicle.details.year
      .space-between
        .card-link Edit Vehicle
        ul.card-availability
          li(class=vehicle.availability.hire ? "" : "cross") Hire
          li(class=vehicle.availability.sales ? "" : "cross") Lease
          li(class=vehicle.availability.lease ? "" : "cross") Buy